.project-card-container{
  .project-card{
    width: 100%;
    height: 100%;
    background-color: #242527;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0px 5px 0 rgba(33, 33, 33, 0.434);
    .project-card-image-container{
      width: 100%;
      height: 100%;
      background-color: #242527;
      border-radius: 17px;
    }
    .project-card-content{
      padding: 10px 20px;
      .project-card-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .project-card-title{
      padding: 20px 0;
      h1{
        font-size: 22px;
        font-weight: 700;
      }
    }
    .project-card-desc{ 
      p{
        font-size: 16px;
        text-align: start;
        line-height: 2.2rem;
        color: #b7b5b5;
      }
    }
    .project-card-tech{
      padding: 20px 0;
      .project-card-tech-list{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        
      }
    }
  }
}