.hero {
  padding: 50px;
  background-color: #242527;
  color: #fff;
  height: calc(100vh - 77px);
  display: flex;
  align-items: center;
  background-image: url('../../assets/images/dark-theme-background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .hero-block {

    .image-block {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .avatar-image{
        border-radius: 8px;
      }

    }

    .introduction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 0 0 50px 60px;

      .title-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.6rem;

        .lower-title {
          display: flex;
          gap: 13px;
        } 

        .content {
          font-size: 40px;
          line-height: 33px;
          font-weight: 500;

          &.style {
            color: #ffc200;
          }
        }
      }

      .description {
        padding: 8px 0 10px 0;

        .desc-content {
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          color: #b7b5b5;
          word-spacing: 4px;
        }
      }
    }
  }
}