.contact-block {
  background-color: #18191b;
  color: #fff;
  padding: 18px 0 100px 0;

  .contact {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-title-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 0;

      .contact-title {
        font-size: 22px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        gap: 8px;
  
        .title-color {
          color: #ffd700;
        }
      }
      .contact-title-line {
        width: 10%;
        height: 3px;
        background-color: #ffd700;
        border-radius: 10px;
        margin: 14px 0 0 0;
      }
    }

    .input-block {
      padding: 0 0 30px 0;
    }

    .input-element {
      color: #fff;
      background-color: inherit;
      border: none;
      outline: none;
      box-shadow: 0px 1px 3px #ffb500;
    }

    .input-element::placeholder,
    .input-element textarea::placeholder {
      color: #b7b5b5;
    }
  }
}