.skill-block {
  background-color: #18191b;
  padding: 0 200px 50px 200px;

  .skill-size-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
  }
  .skill-collapse-icon, .skill-expand-icon {
    cursor: pointer;
    color: #ffd700;
    font-size: 36px;
    width: 50px;
    height: 50px;
  }
  .skill-title {
    padding: 100px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #ffd700;
    text-align: center;

    .skill-title-underline{
      width: 100%;
      display: flex;
      justify-content: center;
      .skill-title-underline-line{
        width: 10%;
        height: 3px;
        margin: 14px 0;
        background-color: #ffd700;
        border-radius: 10px;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 0 0 50px 0;
  }
}