.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  color: #fff;
  background-color: #18191b;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 5px rgb(61, 61, 61);

  .logo-block{
    font-weight: 500;
    font-size: 18px;
  }
  .navbar-list {
    display: flex;
    gap: 60px;
    a{
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
    .navbar-items{
      
      &:hover{
        transform: scale(1.02);
      }
    }
  }
} 