.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  // background-color: rgba(24, 25, 27, 0.8);
  // background-color: #18191b;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 5px rgb(61, 61, 61);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);

  .mobile-button {
    display: none;
    cursor: pointer;
    user-select: none;
  }

  .logo-block {
    user-select: none;
    font-weight: 500;
    font-size: 18px;
    width: 10%;
  }

  .navbar-list {
    display: flex;
    gap: 60px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }

    .navbar-items {
      user-select: none;
      &.active {
        color: #ffd700;
        font-weight: 700;
      }

      &:hover {
        color: #ffd700;
      }
    }
  }

  .right-block {
    width: 10%;
    display: flex;
    justify-content: flex-end;

    .toggle-icon {
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
        color: yellow;
      }
    }
  }

  @media screen and (max-width: 772px) {
    .navbar-list {
      display: none;
    }

    .right-block {
      display: none;
    }

    .mobile-button {
      display: flex;
    }
  }
}